apiVersion: v1
kind: Secret
metadata:
  name: bitverse-nft-bot-secrets
  labels:
    app: bitverse-nft-bot
type: Opaque
data:
  # You can include additional key value pairs as you do with Opaque Secrets
  BITVERSE_NFT_BOT_AUTH_TOKEN: Q3JlYXRlIHRoZSBzZWNyZXQgYW5kIHBsYWNlIGl0IGhlcmUsIGZvciBleGFtcGxlOiBlY2hvIC1uICJzZWNyZXQtdmFsdWUiIHwgYmFzZTY0